venv/
__pycache__/
*.pyc
.env
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
.pytest_cache/

# Indexes and Large Files
data/indexes/
*.parquet
*.wav
*.mp3
data/human_audio/
data/test_audio/
*.index
*.pkl
*.exe
